
tr,
table,
td,
th {
  border: 2px solid black;
}

table {
  max-height: 400px;
  overflow-y: auto;
  max-width: 100%;
  width: auto;
}

@media (max-width: 767px) {
  table {
    max-height:60px;
    overflow-y: auto;
  }
  #container{
    max-height:60px;
    overflow-y: auto;
  }
}